profiles {

    standard {
        executor {
    		name   = 'local'
    		cpus   = 6
    		memory = '16GB'
	}
	singularity.enabled = true
	singularity.autoMounts = true
        singularity.pullTimeout = '40 min'
	singularity.cacheDir = "$PWD"
    }

    slurm {
    process.errorStrategy ='finish' 
	process.executor = 'slurm'
	executor.queueSize = 50
    process.time = '2d'
	singularity.enabled = true
	singularity.cacheDir = "$PWD"
	singularity.autoMounts = true
    singularity.pullTimeout = '40 min'
	singularity.runOptions = "-B `pwd -P`"


	process {
	    withLabel: multi_big_mem {
		executor = 'slurm'
        cpus = 6
		time = '4h'
    	   }
	    withLabel: big_mem {
		executor = 'slurm'
		time = '6h'
    	   }
	    withLabel: short_job {
		executor = 'slurm'
		time = '30m'
    	   }
	    withLabel: multi_cpu {
		executor = 'slurm'
		time = '6h'
		cpus = 6
    	   }
    	withLabel: cellranger {
		executor = 'slurm'
		time = '30h'
		cpus = 40
		memory = "128G"
		container = "docker-cellranger_latest.sif"
    	}
	    withLabel: download {
		executor = 'local'
    	   }
        }
    }
}

